body {
  font-family: 'Trebuchet MS';
}

h1 {
  text-align: center;
}

#randomize, #validate {
  border-radius: 0px;
  font-family: 'Trebuchet MS';
	color: black;
	font-size: 20px;
	background: white;
	border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
}

#randomize:hover, #validate:hover {
	background: #ebebeb;
	text-decoration: none;
}

#validate {
  width: 90px;
}

section {
  display: block;
  text-align: center;
}

#fields-left {
	text-align: center;
	margin-top: 8px;
}

.sudoku {
	display: table;
	margin:  0 auto;
}

#sudoku-table input {
	border: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size:30px;
	width: 45px;
  height: 45px;
}

/*
Sudoku borders:
*/
#row1, #row4, #row7 {
	border-top: 3px solid black;
}

#row9 {
	border-bottom: 3px solid black;
}

#col1, #col4, #col7 {
	border-left: 3px solid black;
}

#col9 {
	border-right: 3px solid black;
}

/* table */
table, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
  text-align: center;
}

td:hover {
  background: lightblue;
}