body {
  font-family: 'Trebuchet MS';
}

h1 {
  text-align: center;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  color: #000000;
  background: #FFFFFF;
  font-size: 40px;
  margin-bottom: 25px;
}

#randomize, #validate {
  border-radius: 0px;
  font-family: 'Trebuchet MS';
	color: black;
	font-size: 20px;
	background: white;
	border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
  outline: none;
}

#randomize:hover, #validate:hover {
	background: #ebebeb;
	text-decoration: none;
}

#validate {
  width: 92px;
}

section {
  display: block;
  text-align: center;
}

#fields-left {
	text-align: center;
	margin-top: 8px;
}

.sudoku {
	display: table;
	margin:  0 auto;
}

#sudoku-table input {
	border: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size:30px;
	width: 45px;
  height: 45px;
}

/*
Sudoku borders:
*/
#row1, #row4, #row7 {
	border-top: 3px solid black;
}

#row9 {
	border-bottom: 3px solid black;
}

#col1, #col4, #col7 {
	border-left: 3px solid black;
}

#col9 {
	border-right: 3px solid black;
}

/* table */
table, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
  text-align: center;
}

input {
  font-family: 'Trebuchet MS';
}

table {
  overflow: hidden;
}
/* hover */
td:hover {
  background-color: #60D7E0;
}

tr:hover {
  background-color: #336699;
}

td {
  position: relative;
}

td:hover::before { 
  background-color: white;
  content: '';  
  height: 100%;
  left: -5000px;
  position: absolute;  
  top: 0;
  width: 10000px;   
  z-index: -2;        
}

td:hover::after { 
  background-color: #336699;
  content: '';  
  height: 10000px;    
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;        
}