body {
    font-family: 'Trebuchet MS';
    display: block;
    margin: auto;
  }

section {
    display: flex;
    justify-content: center;
}

.container {
    height: 90vh;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
}

h1 {
    text-align: center;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    color: #000000;
    background: #FFFFFF;
    font-size: 40px;
    margin-bottom: 25px;
}

.cell {
    border: 1px solid black;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}

.cell:hover {
    background-color: lightblue;
}

input {
    height: 40px;
    width: 40px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Trebuchet MS';
    color: blue;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Trebuchet MS';
    color: black;
    font-size: 20px;
    background: white;
    border: 2px solid black;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
    outline: none;
}

button:hover {
        background: #ebebeb;
        text-decoration: none;
}

.newcell {
    background-color: #C1DBB3;
    color: #045412;
    height: 50px;
}

.wrongcell {
    color: red;
}