body {
    font-family: 'Trebuchet MS';
    display: block;
    margin: auto;
  }

.container {
    height: 90vh;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
}

h1 {
    text-align: center;
}

.cell {
    border: 1px solid black;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}

.cell:hover {
    background-color: lightblue;
}

input {
    height: 40px;
    width: 40px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Trebuchet MS';
    color: blue;
}
